<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">S.No</th>
      <th scope="col">Device type</th>
      <th scope="col">Average</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>DHT11</td>
      <td >{{avgTemp}}&#176;</td>
    </tr>
  </tbody>
</table>

<div class="card border-primary mb-3">
  <div class="card-header">Weather Sensors Live Feed</div>
  <div class="card-body">
    <h4 class="card-title">{{timeLog}}</h4>
    <p class="card-text">Temperature received: {{message}}</p>
  </div>
</div>

<div id="chart"></div>
